html {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Style the header */
  .header {
    padding: 250px;
    text-align: center;
    background-image: url("b-1.jpg");
    color: black;
  }
  
  /* Increase the font size of the h1 element */
  .header h1 {
    font-size: 40px;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color:#483D8B ;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color:white ;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
